{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}  
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class = "register" style="text-align: center; margin: auto;">
    
    <h1 >Formulir Registrasi</h1>  

        <form method="POST">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
            </table>  
            <input type="submit" name="submit" value="Daftar" style="margin-top:20px; background-color: #F2BAC2; border: 2px solid #F2BAC2; font-family: Georgia, 'Times New Roman', Times, serif; padding: 10px; color: white;"/> 
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}