{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script>
      $(document).ready(function () {
        const card = (data) => `
        <div class="col-md-4">
        <div id="card" class="card p-3 m-3">
              <div class="card-block">
                <h4 class="card-title">${data.fields.title}</h4>
                <h6 class="card-subtitle text-muted pb-2">${data.fields.date}</h6>
                <p class="card-text p-y-1">${data.fields.description}</p>
                ${data.fields.is_finished? `<h6 class="card-subtitle text-muted pb-3">✅ Task finished</h6>`
                  : `<h6 class="card-subtitle text-muted pb-3">❌ Task not finished</h6>`
                }
                
                <div style="display: flex;
                justify-content: left;
                align-items: center;
                gap: 10px;">
                  
                  ${
                    data.fields.is_finished
                      ? `
                      <button onclick="window.location.href='/todolist/change-status/${data.pk}/'">
                        Revert to not finished
                      </button>`
                      : `<button onclick="window.location.href='/todolist/change-status/${data.pk}/'"
                      >
                      Change to finished
                    </button>`
                  }
      
                </div>
              </div>
            </div>
            </div>
            `;

        const add_todo = (data) => {
          return $("#cards-section").append(card(data));
        };

        $.get("/todolist/json", function (todo) {
          todo.map((task) => {
            add_todo(task);
          });
        });

        $("#add").click(function () {
          $.post("/todolist/add/", {
            title: $("#title").val(),
            description: $("#description").val(),
          }, function (todo) {
                addCard(todo)
              })
            })
        });
      
    </script>
  </head>

  <style>
    #card {
      background-color: rgba(251, 244, 245, 0.943);
      border-style: solid;
      border-width: 1px;
      border-color: rgb(142, 105, 98);
    }
    #card:hover {
      background-color: rgba(255, 232, 235, 0.943);
      border-style: solid;
      border-color: rgb(142, 105, 98);
    }
  </style>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <h1 class="pt-5" style="text-align: center">୨୧ My To-do List ୨୧</h1>
    <h3 style="text-align: center">User logged in: {{username}}</h3>

    <div class="py-5">
      <div class="container">
        <div id='cards-section' class="row hidden-md-up">
          
        </div>
      </div>
    </div>

    <div
      class="buttons"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
      "
    >
      <!-- <button
        class="m-3"
        onclick="window.location.href='/todolist/create-task'"
      >
        Create new task
      </button> -->
      <button
        type="button"
        class="m-3"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Add Task
      </button>
      <button class="m-3" onclick="window.location.href='/todolist/logout'">
        Logout
      </button>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">New Task</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div>
                  <label for="title"><strong>Title</strong></label>
                  <input
                    type="text"
                    name="title"
                    style="width: 100%"
                    id="title"
                  />
                </div>
                <div style="margin-top: 20px">
                  <label for="description"
                    ><strong>Task description</strong></label
                  >
                  <input
                    style="width: 100%"
                    type="text"
                    name="description"
                    id="description"
                  />
                </div>
                <input
                  id="add"
                  value="Daftar"
                  data-bs-dismiss="modal"
                  style="
                    margin-top: 20px;
                    text-align: center;
                    background-color: #f2bac2;
                    border: 2px solid #f2bac2;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    padding: 10px;
                    color: white;
                  "
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
