{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <style>
    #card {
      background-color: rgba(251, 244, 245, 0.943);
      border-style: solid;
      border-width: 1px;
      border-color: rgb(142, 105, 98);     
    }
    #card:hover {
      background-color: rgba(255, 232, 235, 0.943);
      border-style: solid;
      border-color: rgb(142, 105, 98);     
    }
  </style>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <h1 class="pt-5" style="text-align: center">୨୧ My To-do List ୨୧</h1>
    <h3 style="text-align: center">User logged in: {{username}}</h3>

    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          {% csrf_token %} {% comment %} Add the data below this line {%endcomment%} {% for item in list_todolist %}
          <div class="col-md-4">
            <div 
              id="card"
              class="card p-3 m-3">
              <div class="card-block">
                <h4 class="card-title">{{item.title}}</h4>
                <h6 class="card-subtitle text-muted pb-2">{{item.date}}</h6>
                <p class="card-text p-y-1">{{item.description}}</p>
                {% if item.is_finished == False %}
                <h6 class="card-subtitle text-muted pb-3">❌ Task not finished</h6>
                
                {% else %}
                <h6 class="card-subtitle text-muted pb-3">✅ Task finished</h6>
    
              {% endif %}
                <div style="display: flex;
                justify-content: left;
                align-items: center;
                gap: 10px;">
                  <form method="POST">
                    {% csrf_token %}
                    <button
                    type="submit"
                    name="pk_task_delete"
                    value="{{item.pk}}"
                    >
                    Delete
                  </button>
                </form>
                
                
                {% if item.is_finished == False %}
                <form method="POST">
                  {% csrf_token %}
                    <button type="submit" name="pk_task" value="{{item.pk}}">
                      Change to finished
                    </button>
                </form>
                {% else %}
                <form method="POST">
                  {% csrf_token %}
                    <button
                    type="submit"
                    name="pk_task_reverse"
                    value="{{item.pk}}"
                    >
                    Revert to not finished
                  </button>
              </form>
              {% endif %}

                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    
    <div class="buttons" style="display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;">
      <button class="m-3" onclick="window.location.href='/todolist/create-task'">
        Create new task
      </button>
      <button class="m-3" onclick="window.location.href='/todolist/logout'">
        Logout
      </button>
    </div>
  </body>
</html>
{% endblock content %}
