body {
    background-image: url("mymelodybackground.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #603d4c;
  }
  
  
  h1, h3 {
    color: #603d4c;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }


  table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #603d4c;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 3px solid #f1aeb8;
    background-color: rgba(255, 255, 255, 0.8);;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f1aeb8;
    text-align: left;
    padding: 8px;
  }
  
  button {
    background-color: #F2BAC2;
    border: 2px solid #F2BAC2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    color: white;
    text-align: center;

  }

  label {
    display: block;
    width: 250px;
  }
  
  #card {
    background-color: rgba(251, 244, 245, 0.943);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(142, 105, 98);     
  }
  #card:hover {
    background-color: rgba(255, 232, 235, 0.943);
    border-style: solid;
    border-color: rgb(142, 105, 98);     
  }